**/.build*/*
**/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
**/_build/
**/run_*.log
**/pdf/*
**/html/*
*.pyc
**/.settings*
Installs/*
test_results.csv
*.log
**/broadcom_wiced/sdk*/**
*.xmt
**/host.dSYM/**
**/host_simple_wifi/host
**/test_simple_wifi/wifi_bcm_43362A2
**/run_wrapper/run_wrapper*
build
.lock-waf_*
